---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import ScrollGuide from "../components/ScrollGuide.astro";
import SnsLinks from "../components/SnsLinks.astro";
import TopLayout from "../layouts/TopLayout.astro";

const allWorks = await getCollection("works");
const allTalks = await getCollection("talks");
const qiitaArticles = await getCollection("qiita-articles");
const allBlogs = await getCollection("blog");
---

<TopLayout>
  <div class="grid grid-cols-1 gap-y-4 pb-12 md:pb-16">
    <section
      id="above-the-fold"
      class="@container relative flex h-svh flex-col gap-y-5 pt-5"
    >
      <div
        class="flex flex-col gap-y-[0.2em] text-[25cqi] md:text-[clamp(8.5rem,18.75cqi,15rem)]"
      >
        <h1>
          <ruby class="grid gap-y-[0.125em] leading-none font-bold">
            <span>綿貫佳祐</span>
            <rp>(</rp>
            <rt class="flex text-[calc(1em/3)]">
              <span class="tracking-[-0.02em]">K</span>eisuke &nbsp;
              <span class="tracking-[-0.12em]">W</span>atanuki
            </rt>
            <rp>)</rp>
          </ruby>
        </h1>
        <div
          class="flex flex-col items-start gap-y-[1.5em] text-sm md:text-[clamp(var(--text-sm),3.125cqi,var(--text-lg))]/normal"
        >
          <p class="w-full md:w-[clamp(34rem,75cqi,60rem)]">
            デジタルプロダクトのデザイナーです。理想に向き合い、言語化・視覚化するプロセスを重視しています。意匠の良し悪しだけでなく、データ構造や使用時の心地よさなども考慮しながらものづくりをしています。
          </p>
          <div class="flex flex-wrap gap-[1em]">
            <a
              href="/about-me"
              class="rounded-md bg-zinc-700 px-[1em] py-[0.5em] font-bold text-zinc-50 transition-colors hover:bg-zinc-900"
              >私について</a
            >
            <a
              href="/about-portfolio"
              class="rounded-md border border-zinc-600 bg-zinc-50 px-[1em] py-[0.5em] font-bold transition-colors hover:border-zinc-900 hover:bg-white"
              >このポートフォリオについて</a
            >
          </div>
        </div>
      </div>
      <div class="absolute bottom-5 left-0">
        <ScrollGuide />
      </div>
      <div class="absolute right-0 bottom-5">
        <SnsLinks />
      </div>
    </section>

    <div
      class="flex max-w-5xl flex-col gap-y-8 justify-self-center md:gap-y-12"
    >
      <section id="works" class="flex flex-col gap-4">
        <h2 class="col-span-full text-3xl font-bold">実績</h2>
        <div class="grid grid-cols-4 gap-x-4 gap-y-5">
          {
            allWorks
              .sort(
                (a, b) =>
                  b.data.startDate.getTime() - a.data.startDate.getTime(),
              )
              .map((work) => (
                <a
                  href={`${work.collection}/${work.id}`}
                  class="col-span-full grid gap-0.5 md:col-span-2"
                >
                  <Image
                    src={work.data.cover}
                    alt=""
                    transition:name={`${work.id}Image`}
                  />
                  <h3 class="text-md">{work.data.title}</h3>
                </a>
              ))
          }
        </div>
      </section>
      <section class="flex flex-col gap-y-4" id="talks">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-bold">登壇</h2>
          <a
            href="/talks"
            class="rounded-md border border-zinc-600 bg-zinc-50 px-2 py-1 text-xs font-bold transition-colors hover:border-zinc-900 hover:bg-white"
          >
            すべての登壇
          </a>
        </div>
        <table class="border-t border-gray-300">
          <thead>
            <tr
              class="border-b border-gray-300 text-left [&>th]:px-1.5 [&>th]:py-1"
            >
              <th class="w-20">日時</th>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
            {
              allTalks
                .flatMap((talk) => talk.data)
                .sort(
                  (a, b) =>
                    new Date(b.date).getTime() - new Date(a.date).getTime(),
                )
                .slice(0, 5)
                .map((talk) => (
                  <tr class="border-b border-gray-300 align-top [&>td]:px-1.5 [&>td]:py-1">
                    <td class="proportional-nums">
                      {new Date(talk.date).toLocaleDateString("ja-JP", {
                        dateStyle: "medium",
                      })}
                    </td>
                    <td>{talk.id}</td>
                  </tr>
                ))
            }
          </tbody>
        </table>
      </section>
      <section class="flex flex-col gap-y-4" id="blog">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-bold">ブログ</h2>
          <a
            href="/blog"
            class="rounded-md border border-zinc-600 bg-zinc-50 px-2 py-1 text-xs font-bold transition-colors hover:border-zinc-900 hover:bg-white"
          >
            すべての記事
          </a>
        </div>
        <table class="border-t border-gray-300">
          <thead>
            <tr
              class="border-b border-gray-300 text-left [&>th]:px-1.5 [&>th]:py-1"
            >
              <th class="w-20">日時</th>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
            {
              allBlogs.length > 0 ? (
                allBlogs
                  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
                  .slice(0, 5)
                  .map((blog) => (
                    <tr class="border-b border-gray-300 align-top [&>td]:px-1.5 [&>td]:py-1">
                      <td class="proportional-nums">
                        {blog.data.date.toLocaleDateString("ja-JP", {
                          dateStyle: "medium",
                        })}
                      </td>
                      <td>
                        <a
                          href={`/blog/${blog.id}`}
                          class="text-cyan-600 underline hover:text-cyan-900"
                        >
                          {blog.data.title}
                        </a>
                      </td>
                    </tr>
                  ))
              ) : (
                <tr class="border-b border-gray-300 align-top [&>td]:px-1.5 [&>td]:py-1">
                  <td colspan="2" class="px-1.5 py-1 text-center text-gray-500">
                    記事がありません。
                  </td>
                </tr>
              )
            }
          </tbody>
        </table>
      </section>
      <section class="flex flex-col gap-y-4" id="qiita-articles">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-bold">Qiita記事</h2>
          <a
            href="https://qiita.com/kskwtnk"
            target="_blank"
            class="rounded-md border border-zinc-600 bg-zinc-50 px-2 py-1 text-xs font-bold transition-colors hover:border-zinc-900 hover:bg-white"
          >
            すべての記事
          </a>
        </div>
        <table class="border-t border-gray-300">
          <thead>
            <tr
              class="border-b border-gray-300 text-left [&>th]:px-1.5 [&>th]:py-1"
            >
              <th class="w-20">日時</th>
              <th>タイトル</th>
            </tr>
          </thead>
          <tbody>
            {
              qiitaArticles.length > 0 ? (
                // Qiita APIから返ってくるのが記事の作成日時の降順なのでsortは不要
                // https://qiita.com/api/v2/docs#get-apiv2usersuser_iditems
                qiitaArticles.map((article) => (
                  <tr class="border-b border-gray-300 align-top [&>td]:px-1.5 [&>td]:py-1">
                    <td class="proportional-nums">
                      {new Date(article.data.created_at).toLocaleDateString(
                        "ja-JP",
                        {
                          dateStyle: "medium",
                        },
                      )}
                    </td>
                    <td>
                      <a
                        href={article.data.url}
                        target="_blank"
                        class="text-cyan-600 underline hover:text-cyan-900"
                      >
                        {article.data.title}
                      </a>
                    </td>
                  </tr>
                ))
              ) : (
                <tr class="border-b border-gray-300 align-top [&>td]:px-1.5 [&>td]:py-1">
                  <td colspan="2" class="px-1.5 py-1 text-center text-gray-500">
                    記事の取得に失敗しました。
                  </td>
                </tr>
              )
            }
          </tbody>
        </table>
      </section>
    </div>
  </div>
</TopLayout>
